.container {
  min-height: 100vh;
  background: #111;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}


.container h1 {
  font-size: 40px;
  color: #facc15;
}


.container input {
  width: 300px;
  padding: 15px;

  border-radius: 10px;
  border: none;

  font-size: 18px;
}


.botoes {
  display: flex;
  gap: 15px;
}


.botoes button,
.raiz {

  background: #facc15;
  color: black;

  border: none;
  border-radius: 10px;

  padding: 15px 25px;

  font-size: 22px;
  cursor: pointer;

  transition: 0.3s;
}


.botoes button:hover,
.raiz:hover {
  transform: scale(1.1);
  background: white;
}


.raiz {
  width: 300px;
}


.container h2 {
  margin-top: 20px;
  color: #facc15;
}